.nav__container--behaviour {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
    padding-top: 24px;
}

.nav__list {
    display: flex;
    align-items: center;
}
    
.nav__link {
    font-weight: 600;
    font-size: 1.125em;
    color: var(--white);
    display: block;
    padding: 10px 20px;
}

.nav__link:hover {
    border-bottom: 1px solid var(--green);
}

.user-menu__container {
    position: relative;
}

.user-menu {
    position: relative;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    height: 54px;
    padding: 0 16px;
    background-color: var(--lighter-primary);
    border-radius: 14px;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--white);
}

.avatar {
    width: 42px;
    height: 42px;
}


.user-menu:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.user-menu__role {
    padding: 4px 6px;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--light-blue);
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
}

.email-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary);
}

.user-dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    /* display: block; */
    display: none;
}

.user-dropdown__item {
    background-color: var(--lighter-primary);
    padding: 14px 15px;
    color: var(--white);
    font-size: 1.125em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.user-dropdown__item:hover {
    background-color: var(--secondary);
}

.user-dropdown__item:last-child{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    position: relative;
}

.item__group {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--white);
}

.small-notification {
    position: relative;
}

.small-notification::after {
    content: attr(current-count);
    position: absolute;
    top: -19px;
    left: 15px;
    display: inline-block;
    padding: 2px;
    min-width: 14px;
    text-align: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--error);
    font-size: 0.875em;
    color: var(--white);
}

.user-dropdown__separator::before {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--green);
    top: 4px;
    left: 5%;
    position: absolute;
}

@media only screen and (max-width: 650px) {
    .nav__container--behaviour {
        flex-direction: column;
        align-items: center;
    }

    .nav__list {
        margin-top: 24px;
        flex-direction: column;
        gap: 24px;
    }
}
