#navbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--primary);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 1120px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
  }
  .navbar-item {
    margin: 0 0 0 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    text-decoration: none;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
  }

  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    gap: 16px;
    background-color: var(--primary);
  }

.user-menu {
    min-width: 280px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    height: 54px;
    padding: 0 16px;
    background-color: var(--lighter-primary);
    border-radius: 14px;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white);
    border-left: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
}

.avatar {
    width: 42px;
    height: 42px;
}

.user-menu__role {
    padding: 4px 6px;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--light-blue);
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
}

.email-text {
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary);
}

.user-menu__container {
    position: relative;
    display: inline-block;
}

.user-dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    display: none;
    border-left: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-dropdown__item {
    background-color: var(--lighter-primary);
    padding: 14px 15px;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.user-dropdown__item:hover {
    background-color: var(--secondary);
}

.user-dropdown__relative-position {
  position: relative;
}

.logout {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.user-menu__user-info {
  text-align: justify;
}

.item__group {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white);
}

.small-notification {
    position: relative;
}

.small-notification::after {
    content: attr(current-count);
    position: absolute;
    top: -19px;
    left: 15px;
    display: inline-block;
    padding: 2px;
    min-width: 14px;
    text-align: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--error);
    font-size: 0.875em;
    color: var(--white);
}

.user-dropdown__separator::before {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--green);
    top: 4px;
    left: 5%;
    position: absolute;
}

  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }