@import "navbar.css";

:root{
  --primary: #202442;
  --secondary: #62678C;
  --lighter-primary: #353A61;
  --error: #FF545E;
  --green: #32B46A;
  --light-blue: #05CDDF;
  --white:#FFFFFF;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
}

.container {
  width: 1120px;
}

.container__space-between {
  display: flex;
  justify-content: space-between;
}

.button--success {
  height: 54px;
  width: 187px;
  background-color: var(--green);
  font-size: 1.5rem;
  border-radius: 16px;
  color: white;
  border: none;
  cursor: pointer;
}